/* Styling the navigation bar background and font color */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.navbar {
    background-color: #f8f9fa; /* Change this to your preferred background color */
  }
  
  .navbar-brand {
    color: #343a40; /* Change this to your preferred text color */
    font-weight: bold;
  }
  
  .navbar-toggler-icon {
    color: #343a40; /* Change this to your preferred icon color */
  }
  
  /* Styling the navigation links */
  .nav-link {
    color: #343a40; /* Change this to your preferred link color */
  }
  
  .nav-link:hover {
    color: #007bff; /* Change this to your preferred link hover color */
  }
  
  /* Styling the active navigation link */
  .nav-link.active {
    color: #007bff; /* Change this to your preferred active link color */
  }
  
  /* Styling the dropdown menu */
  .dropdown-menu {
    background-color: #f8f9fa; /* Change this to your preferred dropdown background color */
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .dropdown-item {
    color: #343a40; /* Change this to your preferred dropdown item color */
  }
  
  .dropdown-item:hover {
    background-color: #007bff; /* Change this to your preferred dropdown item hover background color */
    color: #fff; /* Change this to your preferred dropdown item hover color */
  }
  
  /* Styling the search form */
  .form-control {
    border-color: #343a40; /* Change this to your preferred input border color */
  }
  
  .btn-outline-success {
    border-color: #28a745; /* Change this to your preferred button border color */
    color: #28a745; /* Change this to your preferred button text color */
  }
  
  .btn-outline-success:hover {
    background-color: #28a745; /* Change this to your preferred button hover background color */
    color: #fff; /* Change this to your preferred button hover text color */
  }

.banner {
    position: relative;
    /* overflow: hidden; */
    margin-top: 20px; /* Add space between the centered text and additional text */
    padding: 200px;
    transition: transform 0.3s ease;
  }
  
.banner img {
    width: 100%;
    height: auto;
  }

